body {
    background-color: lightblue;
    padding: 0;
    margin: 0;
}

.main-container {
    display: flex;
}

.left-container {
    display: grid;
    align-content: start;
    
    height: 100vh;
    background-color: green;
}

.header-menu{
    background-color: yellow;
}
.inside-body {
    background-color: violet;
}